{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content-container">
  <h1>Team Member Management</h1>
  <p>You have {{ total_team_members }} team members</p>
  <div class="add-member">
    <a href="{% url 'team:add' %}" class="plus-sign">+ Add</a>
  </div>
</div>


  <!-- Team member list -->
  <ul>
      {% for member in team_members %}
      <a class="member-card" href="{% url 'team:edit' member.pk %}">
      <li class="team-member-item">
          <img src="{% static 'person.jpeg' %}" alt="{{ member.first_name }} {{ member.last_name }} Profile Picture">
          <div class="info">
              <span class="name">
                  {{ member.first_name }} {{ member.last_name }}
                  {% if member.role == 'admin' %}<span class="admin-label">(admin)</span>{% endif %}
              </span>
              <span class="email">{{ member.email }}</span>
              <span class="phone">{{ member.phone_number }}</span>
          </div>
      </li>
    </a>
      {% endfor %}
  </ul>
{% endblock %}
